.personName {
	position: fixed;
	top: 120px;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.4s;
	z-index: 1001;
}

.personName.scrolled {
	top: 38px;
	left: 100px;
	transform: translateX(0);
	font-size: 1.2rem;
}

@media (max-width: 890px) {
	.personName.scrolled {
		font-size: 1rem;
		left: 70px;
	}
}
