@font-face {
	font-family: 'dubai';
	src: url('/fonts/Dubai-Regular.ttf');
}

@font-face {
	font-family: 'grenda';
	src: url('/fonts/grenda.otf');
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'grenda', sans-serif;
}

body,
main {
	background: #fff;
	min-height: 100vh;
	overflow-x: hidden;
}

main {
	padding: 200px 100px 100px;
}

@media (max-width: 890px) {
	main {
		padding: 200px 20px 100px;
	}
}
