.imageContain {
	position: relative;
	width: 100%;
	cursor: pointer;
}

.imageContain img {
	display: block;
	width: 100%;
	margin-bottom: 15px;
	transition: 0.2s linear;
}

.imageContain img:hover {
	filter: blur(2px) contrast(0.5);
	transition: 0.2s linear;
}

.imageContain .person {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	color: transparent;
	white-space: nowrap;
	transition: 0.2s;
	font-family: 'dubai', sans-serif;
}

.imageContain .person:hover ~ img {
	filter: blur(2px) contrast(0.5);
	transition: 0.2s linear;
}

.imageContain .person.active {
	color: #fff;
	transition: 0.2s;
}
