.headerContain {
	display: flex;
	justify-content: flex-end;

	position: fixed;
	top: 0;
	left: 0;
	padding: 36px 100px;
	height: 100px;
	width: 100%;
	background: transparent;
	transition: 0.4s;
}

header.contact {
	background: #fff;
}

.headerContain.scroled {
	background: #fff5;
}

.personNameContain {
	display: flex;
	justify-content: space-between;

	position: fixed;
	top: 0;
	left: 0;
	padding: 36px 100px;
	height: 100px;
	width: 100%;
	background: transparent;
	transition: 0.4s;
}

.logoBox {
	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
}

.logoBox img {
	width: 100%;
}

.headerContain ul {
	display: flex;
	align-items: center;
	gap: 17px;

	list-style: none;
}

.headerContain ul li {
	cursor: pointer;
	font-weight: 500;
	font-size: 1.1rem;
	font-family: 'dubai', sans-serif;
}

.personName {
	position: relative;
	top: 3px;
}

.personName h1 {
	font-size: 1.2rem;
}

@media (max-width: 890px) {
	.headerContain {
		padding: 36px 20px;
	}
	.headerContain ul {
		display: flex;
		align-items: center;
		gap: 7px;
	}
	.logoBox {
		justify-content: flex-start;

		position: absolute;
		top: 0;
		left: 0;
	}
	.logoBox img {
		width: 80px;
	}

	.personName {
		left: 50px;
	}
	.personName h1 {
		font-size: 1rem;
	}
}
