.headerContain {
	display: flex;
	justify-content: flex-end;

	position: fixed;
	top: 0;
	left: 0;
	padding: 36px 100px;
	height: 100px;
	width: 100%;
	background: transparent;
	transition: 0.4s;
	z-index: 1000;
}

header.contact {
	background: var(--primary-color);
}

.headerContain.scrolled {
	background: #eee5;
}

.personNameContain {
	display: flex;
	justify-content: space-between;

	position: fixed;
	top: 0;
	left: 0;
	padding: 36px 100px;
	height: 100px;
	width: 100%;
	background: transparent;
	transition: 0.4s;
}

.logoBox {
	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
}

.logoBox img {
	width: 100%;
}

.headerContain ul {
	display: flex;
	align-items: center;
	gap: 17px;

	list-style: none;
}

.headerContain ul li {
	cursor: pointer;
	font-weight: 500;
	font-size: 1.1rem;
	font-family: 'dubai', sans-serif;
	border-bottom: 2px solid #0000;
}
.headerContain ul li:hover {
	border-bottom: 2px solid var(--font-color);
}

.personName {
	position: relative;
	top: 3px;
}

.personName h1 {
	font-size: 1.2rem;
	white-space: nowrap;
}

.personNameShortMenu {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.personNameShortMenu h1 {
	font-size: 1.2rem;
	white-space: nowrap;
}

.shortMenuContain {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	position: fixed;
	top: -100vh;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: transparent;
	z-index: 1000;
	transition: 0.2s;
	color: transparent;
}

.shortMenuContain.active {
	background: var(--primary-color);
	top: 0;
	color: #000;
}

.shortMenuContain #shortMenu li:hover {
	border-bottom: 2px solid #0000;
}
.shortMenuContain.active #shortMenu li:hover {
	border-bottom: 2px solid var(--font-color);
}
#shortMenu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media (max-width: 890px) {
	.headerContain {
		padding: 36px 20px;
	}

	.headerContain ul {
		display: flex;
		align-items: center;
		gap: 7px;
	}

	.headerContain ul li {
		font-size: 1.3rem;
	}

	.logoBox {
		justify-content: flex-start;

		position: absolute;
		top: 0;
		left: 0;
	}

	.logoBox img {
		width: 80px;
	}

	.personName {
		left: 50px;
	}

	.personName h1 {
		font-size: 1rem;
	}
}

@media (max-width: 350px) {
	.personNameShortMenu h1 {
		font-size: 1rem;
	}
}
