.socialMedia {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;

	width: 100%;
	margin-bottom: 20px;
	transition: 0.4s;
}

.socialMedia a,
.socialMediaShortMenu a {
	display: flex;
	align-items: center;
	justify-content: center;

	text-decoration: none;
	color: inherit;
}

.socialMedia.scrolled {
	color: transparent;
	transition: 0.4s;
}

.socialMediaShortMenu {
	display: flex;
	gap: 5px;

	margin: 20px 0 0 0;
	z-index: 1001;
}
