.socialMedia {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	margin-bottom: 20px;
	transition: 0.4s;
}

.socialMedia.scrolled {
	color: transparent;
	transition: 0.4s;
}

.socialMediaShortMenu {
	display: flex;
	gap: 10px;

	margin-top: 20px;
	z-index: 1001;
}

.socialMediaShortMenu a {
	display: flex;
	align-items: center;
	justify-content: center;
}
