.imagesContainer {
	column-gap: 15px;
	column-count: 3;
	width: 100%;
}

@media (max-width: 780px) {
	.imagesContainer {
		column-count: 2;
	}
}

@media (max-width: 540px) {
	.imagesContainer {
		column-count: 1;
	}
}
